<div data-ng-controller="CampaignsController" data-ng-init="findOne()">
  <div class="jumbotron" style="border-radius: 0px;">
    <div class="list-group">

      <div class="clearfix">
        <legend class="col-sm-6 search-labels title-font"><strong>{{campaign.title}}</strong></legend>
        <div class="alert alert-dismissable alert-danger col-sm-6" id="campaign-dashboard">
          <strong>This Campaign is At: {{campaign.escrowFund | currency:'$'}}</strong><br>
          <strong>Tilt Threshold: {{campaign.tiltThreshold | currency:'$'}}</strong><br>
          <a style="text-align: center; text-decoration: none" class="col-sm-12 payment-link" data-ng-click="paymentForm()">{{campaign.tiltThreshold - campaign.escrowFund | currency: '$'}} Left To Go</a>
        </div>
      </div>
      <blockquote>
        <p>{{campaign.description}}</p>
        <small><a href="{{campaign.issue.user.html_url}}">{{campaign.issue.user.login  }}</a><cite title="Source Title"><a href="{{campaign.issue.html_url}}">   Link to Issue</a></cite></small>
      </blockquote>

        <!-- i might need to fix some of this shit -->

      <a class="list-group-item" data-ng-click = "showMerchants()"  ui-sref="campaign.details">
        <h4 class="list-group-item-heading default-font">Developers</h4>
      </a>
      <div ui-view="merchants"></div>
      <!-- in here i want to iterate through the devlopers array -->

      <a class="list-group-item" data-ng-click = "showMarketplaces()"   ui-sref="campaign.details">
        <h4 class="list-group-item-heading default-font">Contributors</h4>
      </a>
      <div ui-view="marketplaces"></div>

      <a class="list-group-item" data-ng-click = "showContributions()"   ui-sref="campaign.details">
        <h4 class="list-group-item-heading default-font">Contributions To Date</h4>
      </a>
      <div ui-view="contributions"></div>

      <form  data-ng-show="(campaign.merchants.indexOf(global.user._id) === -1) && (global.authenticated && !!global.user.balancedToken)" data-ng-submit="addPayment()">
        <button class="btn btn-primary payment-button" data-ng-click="paymentForm()" data-ng-show="preClick">Add Payment</button>
        <!-- when i click on that link, a form should appear -->
        <div data-ng-hide="preClick">
          <div class="form-group" style="margin-top:20px">
            <label class="control-label default-font">How much do you want to contribute?</label>
            <div class="col-lg-4">
              <input type="text" data-ng-model="amount" class="form-control contribute-input">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label default-font">What is this payment for?</label>
            <div class="col-lg-4">
              <input type="text" data-ng-model="statement" class="form-control contribute-input">
            </div>
          </div>
          <div class="form-group pull-left">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
      <button style="margin-top: 20px;" class="btn btn-primary btn-info default-font" data-ng-hide="!!global.user.balancedToken || !global.authenticated" data-ng-click="paymentForm()">Create a Card to Contribute to this Campaign!</button>
      <button class="btn btn-primary btn-info default-font" data-ng-hide="global.authenticated"><a href="/signin">You must signin or create an account by singing in with Github!</a></button>
      <!-- this should all work -->

      <!-- lets add real time chat on the bottom!!!
      so use SOCKJS to relay real time messages on the bottom -->

    </div>
  </div>
</div>
